@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #f0f0f5;
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.game-container {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;

  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 8px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.stats {
  width: 100%;
  text-align: left;
  font-variant-numeric: tabular-nums;
}

.canvas-container {
  position: relative;
  background-color: #e8e8e8;
  height: 200px;
  margin: 20px 0;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url('image.png');
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 8px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
}

.you-dot {
  width: 100px;
  height: 100px;
  background-color: grey;
  border-radius: 50%;
  margin-left: 20px;
}

.dot {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  bottom: 90px;
  animation: bounceIn 1s ease-out forwards;
}

@keyframes bounceIn {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(150px, 0, 0);
  }

  20% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(120px, 0, 0);
  }

  40% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(90px, -30px, 0);
  }

  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(85.5px, -30px, 0);
  }

  53% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(70.5px, 0, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(45px, -15px, 0);
  }

  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(10px, -4px, 0);
  }

  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.prompt-box {
  margin-top: 30px;
  text-align: center;
}

#prompt {
  margin-bottom: 20px;
  font-size: 1.1em;
}

button {
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  padding: 12px 32px;
  position: relative;
  text-align: center;

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.bg-green {
  background-color: #16a34a;
  color: white;
}

.bg-green:hover {
  background-color: #15803d;
}

.bg-red {
  background-color: #dc2626;
  color: white;
}

.bg-red:hover {
  background-color: #b91c1c;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.crown {
	position: absolute;
	bottom: 70px;
	margin-left: 20px;
	transform: translate(-0%,-75%);
	width: 100px;
	height: 60px;
	overflow: hidden;
	
	&:after {
		content: '';
		position: absolute;
		bottom: 100px/-8;
		left: 0;
		width: 100%;
		height: 100px/2;
		background-color: gold;
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
	}
	
	.point {
		position: absolute;
		background-color: gold;
		transform: translate(-50%,50%) rotate(45deg) skew(30deg,30deg);
		
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100px/5;
			height: 100px/5;
			border-radius: 100px/5;
			background-color: gold;
			transform: translate(-50%,-50%) skew(-30deg,-30deg);
		}
		
		&:first-child,
		&:last-child {
			top: 100px/2;
			width: 100px;
			height: 100px;
		}
		
		&:nth-child(2),
		&:nth-child(4) {
			top: 100px/3;
			width: 100px;
			height: 100px;
		}
		
		&:nth-child(3) {
			top: 100px/4;
			width: 100px;
			height: 100px;
		}
		
		&:first-child {
			left: 0;
		}
		
		&:nth-child(2) {
			left: 25%;
		}
		
		&:nth-child(3) {
			left: 50%;
		}
		
		&:nth-child(4) {
			left: 75%;
		}
		
		&:last-child {
			left: 100%;
		}
	}
}

.stat-alert {
  color: red;
  font-weight: bold;
}
